<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" style="background: #108ee9">
    <!--<div class="logo">-->
    <!--Showing 1000 results-->
    <!--</div>-->
    <ul nz-menu [nzMode]="isCollapsed?'vertical':'inline'" style="background: transparent">
      <li style="margin-left: 10px">
        <span>Stops</span>
      </li>

      <li nz-checkbox="" style="margin-left: 15px">
        <span>Direct</span>
      </li>
      <br>
      <li nz-checkbox="" style="margin-left: 15px">
        <span>Stops</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"
         (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px;">
        Bill is a cat.
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
