:host ::ng-deep .logo {
  text-align: center;
  height: 32px;
  background: #128de7;
  border-radius: 6px;
  margin: 16px;
}

:host ::ng-deep .ant-layout-sider-collapsed .nav-text {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

.cont{
  background: #29A4DD; /* Old browsers */
  background: -moz-linear-gradient(left, #29A4DD 0%, #2989d8 50%, #08c6f6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #29A4DD 0%,#2989d8 50%,#08c6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #29A4DD 0%,#2989d8 50%,#08c6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

:host ::ng-deep .trigger:hover {
  color: #108ee9;
}

span{
  font-family: 'Cairo',sans-serif;
  color: white;
}

.row1{
  width: 100% ;height:150px;margin:auto;
  text-align: center;

  background-color: rgba(255,255,255);
  display:table;



}
.row1element{

  position: relative;
  display: inline-block;
  padding: 5px;
  margin-top: 5px;

}
body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.ticket {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: 20px auto;
}
.ticket .stub,
.ticket .check {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.stub {
  background: #128de7;
  height: 250px;
  width: 250px;
  color: white;
  padding: 20px;
  position: relative;
}
.stub:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 20px solid white;
  border-left: 20px solid #107ECF;
  width: 0;
}
.stub:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid white;
  border-left: 20px solid #107ECF;
  width: 0;
}
.stub .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  text-transform: uppercase;
}
.stub .top .line {
  display: block;
  background: #fff;
  height: 40px;
  width: 3px;
  margin: 0 20px;
}
.stub .top .num {
  font-size: 10px;
}
.stub .top .num span {
  color: #000;
}
.stub .number {
  position: absolute;
  left: 40px;
  font-size: 150px;
}
.stub .invite {
  position: absolute;
  left: 150px;
  bottom: 45px;
  color: #000;
  width: 20%;
}
.stub .invite:before {
  content: '';
  background: #fff;
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
}
.check {
  background: rgb(219,213,39) ;;

  width:70% ;height:150px;margin:auto;
  text-align: center;
  display:table;
  padding: 40px;
  position: relative;
}
.check:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 20px solid white;
  border-right: 20px solid rgb(219,213,50);
  width: 0;
}
.check:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 20px solid white;
  border-right: 20px solid rgb(219,213,50);
  width: 0;
}
.check .big {
  font-size: 20px;
  font-weight: 900;
  line-height: .8em;
}
.check .number {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #ef5658;
  font-size: 20px;
}
.check .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 12px;
  margin-top: 20px;
  width: 100%;
}
.check .info section {
  margin-right: 50px;
}
.check .info section:before {
  content: '';
  background: white;
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
}
.check .info section .title {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

