
<nz-layout  style="border-radius: 20px; color:white;background: transparent;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"
            style="background-color: #1D759D; border-radius: 20px; padding:10px;">
    <div
      style="margin: 10px; padding-bottom: 15px; color: white; border-bottom: .5px solid rgba(255,255,255,.3); margin-bottom: 10px">

      <div style="width: 100%; margin-bottom: 10px;">
        <span style=" font-family: 'Cairo', sans-serif; font-size:14px;">Stops</span>
      </div>
      <div>
        <label nz-checkbox [(ngModel)]="direct" (ngModelChange)="_console($event)"
               style="margin-left: 8px; width: 100%">
          <span style="font-family: 'Cairo', sans-serif; font-size:12px">direct</span>
        </label>
        <label nz-checkbox [(ngModel)]="stops" (ngModelChange)="_console($event)"
               style="width: 100%;">
          <span style="font-family: 'Cairo', sans-serif; font-size:12px">one or more stops</span>
        </label>
      </div>

    </div>

    <div
      style="margin: 10px; padding-bottom: 10px; color: white; border-bottom: .5px solid rgba(255,255,255,.3);">

      <div style="margin-bottom: 5px;">
        <span style=" font-family: 'Cairo', sans-serif; font-size:14px;">Times</span>
      </div>
      <span style="font-family: 'Cairo', sans-serif; font-size:12px;">Departure</span>
      <br>
      <div style="padding-bottom: 12px;">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: left">{{departure_from}}</span>
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: right">{{departure_to}}</span>
      </div>
      <nz-slider nzRange [(ngModel)]="departure" (ngModelChange)="onChange_departure($event)"
                 [nzTipFormatter]="time_formatter" [nzMax]=23.75 [nzStep]=0.25 [nzDefaultValue]="[0, 23.75]">
      </nz-slider>

      <span style="font-family: 'Cairo', sans-serif; font-size:12px; padding-bottom: 5px;">Arrival</span>
      <br>
      <div style="padding-bottom: 12px;">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: left">{{arrival_from}}</span>
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: right">{{arrival_to}}</span>
      </div>
      <nz-slider nzRange [(ngModel)]="arrival" (ngModelChange)="onChange_arrival($event)"
                 [nzTipFormatter]="time_formatter" [nzMax]=23.75 [nzStep]=0.25 [nzDefaultValue]="[0, 23.75]">
      </nz-slider>
    </div>

    <div
      style="margin: 10px; padding-bottom: 10px; color: white; border-bottom: .5px solid rgba(255,255,255,.3);">

      <div style="span-bottom: 12px;">
        <span style=" font-family: 'Cairo', sans-serif; font-size:14px;">Duration</span>
      </div>
      <div style="padding-bottom: 12px;">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: left">{{duration_from}}</span>
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: right">{{duration_to}}</span>
      </div>

      <nz-slider nzRange [(ngModel)]="duration" (ngModelChange)="onChange_duration($event)" [nzTipFormatter]="duration_formatter" [nzMax]=50 [nzStep]=0.25
                 [nzDefaultValue]="[0, 50]">
      </nz-slider>
    </div>


    <div
      style="margin: 10px; padding-bottom: 10px; color: white; border-bottom: .5px solid rgba(255,255,255,.3);">

      <div style="width: 100%; margin-bottom: 7px;">
        <span style=" font-family: 'Cairo', sans-serif; font-size:14px;">Airlines</span>
      </div>

      <label nz-checkbox (ngModelChange)="_console($event)"
             style="margin-left: 8px; width: 100%">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px">Air Canada</span>
      </label>
      <label nz-checkbox (ngModelChange)="_console($event)"
             style="width: 100%;">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px">Egypt Air</span>
      </label>

    </div>


    <div
      style="margin: 10px; padding-bottom: 10px; color: white; border-bottom: .5px solid rgba(255,255,255,.3); margin-bottom: 10px">

      <div style="width: 100%; margin-bottom: 7px;">
        <span style=" font-family: 'Cairo', sans-serif; font-size:14px;">Alliances</span>
      </div>

      <label nz-checkbox (ngModelChange)="_console($event)"
             style="margin-left: 8px; width: 100%">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px">Air Canada</span>
      </label>
      <label nz-checkbox (ngModelChange)="_console($event)"
             style="width: 100%;">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px">Egypt Air</span>
      </label>

    </div>


    <div
      style="margin: 10px;">

      <div style="span-bottom: 12px;">
        <span style=" font-family: 'Cairo', sans-serif; font-size:14px;">Price</span>
      </div>
      <div style="padding-bottom: 12px;">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: left">{{price_from}}</span>
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: right">{{price_to}}</span>
      </div>

      <nz-slider nzRange [(ngModel)]="price" (ngModelChange)="onChange_price($event)" [nzTipFormatter]="price_formatter" [nzMax]=20000
                 [nzDefaultValue]="[0, 5000]">
      </nz-slider>
    </div>

  </nz-sider>

  <nz-sider *ngIf="mobileVersion" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"
            style="background-color: #1D759D; border-radius: 20px; padding:10px;">
    <div
      style="margin: 10px; padding-bottom: 15px; color: white; border-bottom: .5px solid rgba(255,255,255,.3); margin-bottom: 10px">

      <div style="width: 100%; margin-bottom: 10px;">
        <span style=" font-family: 'Cairo', sans-serif; font-size:14px;">Stops</span>
      </div>
      <div>
        <label nz-checkbox [(ngModel)]="direct" (ngModelChange)="_console($event)"
               style="margin-left: 8px; width: 100%">
          <span style="font-family: 'Cairo', sans-serif; font-size:12px">direct</span>
        </label>
        <label nz-checkbox [(ngModel)]="stops" (ngModelChange)="_console($event)"
               style="width: 100%;">
          <span style="font-family: 'Cairo', sans-serif; font-size:12px">one or more stops</span>
        </label>
      </div>

    </div>

    <div
      style="margin: 10px; padding-bottom: 10px; color: white; border-bottom: .5px solid rgba(255,255,255,.3);">

      <div style="margin-bottom: 5px;">
        <span style=" font-family: 'Cairo', sans-serif; font-size:14px;">Times</span>
      </div>
      <span style="font-family: 'Cairo', sans-serif; font-size:12px;">Departure</span>
      <br>
      <div style="padding-bottom: 12px;">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: left">{{departure_from}}</span>
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: right">{{departure_to}}</span>
      </div>
      <nz-slider nzRange [(ngModel)]="departure" (ngModelChange)="onChange_departure($event)"
                 [nzTipFormatter]="time_formatter" [nzMax]=23.75 [nzStep]=0.25 [nzDefaultValue]="[0, 23.75]">
      </nz-slider>

      <span style="font-family: 'Cairo', sans-serif; font-size:12px; padding-bottom: 5px;">Arrival</span>
      <br>
      <div style="padding-bottom: 12px;">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: left">{{arrival_from}}</span>
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: right">{{arrival_to}}</span>
      </div>
      <nz-slider nzRange [(ngModel)]="arrival" (ngModelChange)="onChange_arrival($event)"
                 [nzTipFormatter]="time_formatter" [nzMax]=23.75 [nzStep]=0.25 [nzDefaultValue]="[0, 23.75]">
      </nz-slider>
    </div>

    <div
      style="margin: 10px; padding-bottom: 10px; color: white; border-bottom: .5px solid rgba(255,255,255,.3);">

      <div style="span-bottom: 12px;">
        <span style=" font-family: 'Cairo', sans-serif; font-size:14px;">Duration</span>
      </div>
      <div style="padding-bottom: 12px;">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: left">{{duration_from}}</span>
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: right">{{duration_to}}</span>
      </div>

      <nz-slider nzRange [(ngModel)]="duration" (ngModelChange)="onChange_duration($event)" [nzTipFormatter]="duration_formatter" [nzMax]=50 [nzStep]=0.25
                 [nzDefaultValue]="[0, 50]">
      </nz-slider>
    </div>


    <div
      style="margin: 10px; padding-bottom: 10px; color: white; border-bottom: .5px solid rgba(255,255,255,.3);">

      <div style="width: 100%; margin-bottom: 7px;">
        <span style=" font-family: 'Cairo', sans-serif; font-size:14px;">Airlines</span>
      </div>

      <label nz-checkbox (ngModelChange)="_console($event)"
             style="margin-left: 8px; width: 100%">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px">Air Canada</span>
      </label>
      <label nz-checkbox (ngModelChange)="_console($event)"
             style="width: 100%;">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px">Egypt Air</span>
      </label>

    </div>


    <div
      style="margin: 10px; padding-bottom: 10px; color: white; border-bottom: .5px solid rgba(255,255,255,.3); margin-bottom: 10px">

      <div style="width: 100%; margin-bottom: 7px;">
        <span style=" font-family: 'Cairo', sans-serif; font-size:14px;">Alliances</span>
      </div>

      <label nz-checkbox (ngModelChange)="_console($event)"
             style="margin-left: 8px; width: 100%">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px">Air Canada</span>
      </label>
      <label nz-checkbox (ngModelChange)="_console($event)"
             style="width: 100%;">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px">Egypt Air</span>
      </label>

    </div>


    <div
      style="margin: 10px;">

      <div style="span-bottom: 12px;">
        <span style=" font-family: 'Cairo', sans-serif; font-size:14px;">Price</span>
      </div>
      <div style="padding-bottom: 12px;">
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: left">{{price_from}}</span>
        <span style="font-family: 'Cairo', sans-serif; font-size:12px; float: right">{{price_to}}</span>
      </div>

      <nz-slider nzRange [(ngModel)]="price" (ngModelChange)="onChange_price($event)" [nzTipFormatter]="price_formatter" [nzMax]=20000
                 [nzDefaultValue]="[0, 5000]">
      </nz-slider>
    </div>

  </nz-sider>

  <nz-layout class="" style="border-radius: 20px; color: white; background-color: white; background: white;">

    <!--<nz-header style="background: #fff; padding:0;">-->
    <!--<i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"-->
    <!--(click)="isCollapsed=!isCollapsed"></i>-->
    <!--</nz-header>-->

    <nz-content style="margin:0 16px;background-color: white;">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>Flights</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:24px; min-height: 360px;">





      </div>
    </nz-content>
  </nz-layout>
</nz-layout>


<!--<div style="border-radius: 50px; margin: 20px;">-->
<!--<app-flights></app-flights>-->
<!--</div>-->
