<div  *ngIf="mobVersion" style="margin:10px;width:{{width}};">

  <ul nz-menu [nzMode]="'inline'" nzTheme='dark'style="background: transparent;user-select: none" >
    <li nz-menu-item style="user-select: none;height: 100%;text-align: center;vertical-align: center; margin-top: 20px;">
       <span title>
            <i style="margin-right:9px;margin-left:9px;font-size: 18px;color: white" class="anticon anticon-global"></i>
            <nz-select
              style="font-size: 10px;width: 70%;vertical-align: middle;"
              [nzPlaceHolder]="'Country'"
              [(ngModel)]="country"
              nzShowSearch>

        <nz-option
          *ngFor="let option of countries"
          [nzLabel]="option.name"
          [nzValue]="option.name"
        >
        </nz-option>
      </nz-select>
          </span>

    </li>
    <li nz-menu-item style="height: 100%;text-align: center;vertical-align: center;user-select: none;">
       <span title>
            <i style="margin-right:9px;margin-left:9px;font-size: 18px;color: white" class="anticon anticon-red-envelope"></i>
            <nz-select
              style="font-size: 10px;width: 70%;vertical-align: middle;"
              [nzPlaceHolder]="'Currency'"
              [(ngModel)]="currency"
              nzShowSearch>
        <nz-option
          *ngFor="let option of currencies"
          [nzLabel]="option"
          [nzValue]="option"
        >
        </nz-option>
      </nz-select>
          </span>

    </li>

  </ul>
</div>

<div *ngIf="webVersion"  >


  <img src="../../assets/travolic.png" style="margin-top: 5px" height="50" width="170"/>
  <button class="btn" nz-button [nzType]="'default'">
  <i class="anticon anticon-user"></i><span>Login</span>
</button>
  <nz-select class="sel"
    [nzPlaceHolder]="'Country'"
    [(ngModel)]="country"
    nzShowSearch>
    <nz-option
      *ngFor="let option of countries"
      [nzLabel]="option.name"
      [nzValue]="option.name"
    >
    </nz-option>
  </nz-select>
  <nz-select class="sel"
    [nzPlaceHolder]="'Currency'"
    [(ngModel)]="currency"
    nzShowSearch>
    <nz-option
      *ngFor="let option of currencies"
      [nzLabel]="option"
      [nzValue]="option"
    >
    </nz-option>
  </nz-select>
  <nz-select class="sel"
    [nzPlaceHolder]="'Language'"
    [(ngModel)]="language"
    nzShowSearch>
    <nz-option
      *ngFor="let option of languages"
      [nzLabel]="option.name"
      [nzValue]="option.name"
    >
    </nz-option>
  </nz-select>
</div>
