<div *ngIf="mobVersion" style="margin:10px;width:{{width}};">

  <div style="text-align: center;">
    <div style="text-align: center;margin-right:20px; margin-left:20px;margin-top: 20px">
      <!--<i style="margin-right:9px;margin-left:9px;font-size: 18px;color: white" class="anticon anticon-global"></i>-->
      <nz-select
        style="font-size: 10px;width: 40%;vertical-align: middle;"
        [nzPlaceHolder]="'Country'"
        [(ngModel)]="country"
        nzShowSearch>

        <nz-option
          *ngFor="let option of countries"
          [nzLabel]="option.name"
          [nzValue]="option.name"
        >
        </nz-option>
      </nz-select>
    </div>

    <div style="text-align: center;margin-right:20px; margin-left:20px;margin-top: 5px">
      <!--<i style="margin-right:9px;margin-left:9px;font-size: 18px;color: white" class="anticon anticon-red-envelope"></i>-->
      <nz-select
        style="font-size: 10px;width: 40%;vertical-align: middle;"
        [nzPlaceHolder]="'Currency'"
        [(ngModel)]="currency"
        nzShowSearch>
        <nz-option
          *ngFor="let option of currencies"
          [nzLabel]="option"
          [nzValue]="option"
        >
        </nz-option>
      </nz-select>
    </div>

    <div style="text-align: center;margin-right:20px; margin-left:20px;margin-top: 5px">
      <!--<i style="margin-right:9px;margin-left:9px;font-size: 18px;color: white" class="anticon anticon-global"></i>-->
      <nz-select
        style="font-size: 10px;width: 40%;vertical-align: middle;"
        [nzPlaceHolder]="'Language'"
        [(ngModel)]="language"
        nzShowSearch>
        <nz-option
          *ngFor="let option of languages"
          [nzLabel]="option"
          [nzValue]="option"
        >
        </nz-option>
      </nz-select>
    </div>
  </div>

</div>

<div *ngIf="webVersion">


  <img src="../../assets/travolic.png" style="margin-top: 5px" height="50" width="170"/>
  <button class="sel" nz-button [nzType]="'default'">
    <i class="anticon anticon-user"></i><span>Login</span>
  </button>
  <nz-select class="sel"
             [nzPlaceHolder]="'Country'"
             [(ngModel)]="country"
             nzShowSearch>
    <nz-option
      *ngFor="let option of countries"
      [nzLabel]="option.name"
      [nzValue]="option.name"
    >
    </nz-option>
  </nz-select>
  <nz-select class="sel"
             [nzPlaceHolder]="'Currency'"
             [(ngModel)]="currency"
             nzShowSearch>
    <nz-option
      *ngFor="let option of currencies"
      [nzLabel]="option"
      [nzValue]="option"
    >
    </nz-option>
  </nz-select>
  <nz-select class="sel"
             [nzPlaceHolder]="'Language'"
             [(ngModel)]="language"
             (nzOpenChange)="languageChanged()"
             nzShowSearch >
    <nz-option
      *ngFor="let option of languages"
      [nzLabel]="option"
      [nzValue]="option"
    >
    </nz-option>
  </nz-select>
</div>
