<div class="article">
  <div class="wrapper">
    <div class="wrap">
  <img src="{{article.img}}"/>
  </div>
    <div class="wrapperText">
      <h1>
        <mark>{{article.title}}</mark>
        <a  href="http://www.facebook.com/sharer.php?u=http://167.99.42.100/community/blog/{{article._id}}" target="_blank">
       <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
   </a>
      </h1>
    </div>
  </div>
    <div class="articleText">
      <h3 class="introduction">
        {{article.blog}}
      </h3>
</div>
