<div class="row1">

  <img src="../../assets/logowhite.png" style="margin-top:10px;" height="144" width="186"/>
  <br>
  <label class="row1element" style="font-size: 450%; font-family: 'cairo' , sans-serif; font-weight:normal;color:   rgb(219,213,39) ; ">Privacy Policy</label>


  <br>
  <label class="row1element" style=" margin-bottom:10px;font-size: 200%; font-family: 'cairo' , sans-serif; color:  white  ">This privacy policy has been compiled, by Travolic to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be use on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how do we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
</label>

    <br>
     <br>

     <label class="row1element" style="font-size: 250%; font-family: 'cairo' , sans-serif; font-weight:normal;color:   rgb(219,213,39) ; "> What Kind of Personal Information we collect
</label>
   <br>
 <label class="row1element" style=" margin-bottom:10px;font-size: 200%; font-family: 'cairo' , sans-serif; color:  white  ">When you visit Our Website, we may collect information from you. Some of it may be personal information. This information can include search history, IP address, browser used, location, operating system and settings, access times and referring URL. If you are using a mobile device, we may also collect data that identifies your device, your settings and your location.
   </label>
   <label class="row1element" style=" margin-bottom:10px;font-size: 200%; font-family: 'cairo' , sans-serif; color:  white  ">
     If you choose to register, we will collect your email address, password and home airport, and other preference information you provide us. If you choose a third-party service, like Facebook Login, to register or login, you are permitting us to use and store that information related to the account.
     This Policy applies to our websites, emails, text messages and social media accounts (our platforms), when you use any of our platforms, you agree to the terms in this policy
</label>
<label class="row1element" style="font-size: 250%; font-family: 'cairo' , sans-serif; font-weight:normal;color:   rgb(219,213,39) ; "> Why we use your Personal Information
</label>
<label class="row1element" style=" margin-bottom:10px;font-size: 200%; font-family: 'cairo' , sans-serif; color:  white  ">
  To provide you and improve our Platforms and services, to better understand the users of our Platforms and services, to protect our property and to prevent damage to them.
  To display more relevant advertising and recommendations, or suppress advertising and content that you might find irrelevant.
  <br>
  <br>
  To contact you, as follows: <br>
» To send alerts and notifications you have subscribed to, including to your mobile device <br>
» To get in touch if you contact Travolic’s customer service <br>
» To send you information servicing and administrative emails <br>
» To send you marketing emails from a Travolic email address regarding our services or those of our partners, if you have agreed on  receiving emails from us or have subscribed with us.
<br>
</label>
<label class="row1element" style="font-size: 250%; font-family: 'cairo' , sans-serif; font-weight:normal;color:   rgb(219,213,39) ; "> Changes to the Privacy Policy
</label><br>
<label class="row1element" style=" margin-bottom:10px;font-size: 200%; font-family: 'cairo' , sans-serif; color:  white  ">
We may modify this Privacy Policy at any time and without prior notice. We will notify you of material changes to how we use your personal information prior to implementing them. We may notify you about such a material change by email or prominent notice on our website. By using our services and Platforms after we post these changes, you indicate you accept them.</label>
<label class="row1element" style="font-size: 250%; font-family: 'cairo' , sans-serif; font-weight:normal;color:   rgb(219,213,39) ; "> Cookies</label>
<label class="row1element" style=" margin-bottom:10px;font-size: 200%; font-family: 'cairo' , sans-serif; color:  white  "> Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser that enables the site's or service provider's systems to recognize your browser, capture and remember certain information. However, Cannot read your personal information
  some cookies only last for the duration of your visit. These ‘session cookies’ disappear from your computer or mobile device when you close your browser. Other cookies stay on your computer or mobile device after your browser has closed and last for a specified amount of time. These ‘persistent cookies’ are activated each time you visit the site that generated them (these are the ones that remember your preferences, i.e. the last departure airport you entered on our platform).
</label>
<label class="row1element" style="font-size: 250%; font-family: 'cairo' , sans-serif; font-weight:normal;color:   rgb(219,213,39) ; "> Why do Travolic use cookies?
</label>
<label class="row1element" style=" margin-bottom:10px;font-size: 200%; font-family: 'cairo' , sans-serif; color:  white  ">We use cookies to help us remember, understand and save your preferences, based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
</label>
<label class="row1element" style="font-size: 250%; font-family: 'cairo' , sans-serif; font-weight:normal;color:   rgb(219,213,39) ; "> REMEBER</label>
<label class="row1element" style=" margin-bottom:10px;font-size: 200%; font-family: 'cairo' , sans-serif; color:  white  ">we are not a travel agency and we do not sell tickets, we will help you search and choose your preferred flight and will direct you to the airline website to book. We are completely free, no hidden charges or fees
</label>


  </div>
