<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
<body class="cont" *ngIf="mobVersion">
<app-menu *ngIf="mobVersion"></app-menu>
<app-searchdiv *ngIf="mobVersion"></app-searchdiv>
<app-info *ngIf="mobVersion"></app-info>
</body>
<nz-layout *ngIf="webVersion">
  <nz-header style="background-color: white">
    <app-navbar ></app-navbar>
  </nz-header>
  <nz-content class="cont"  >

    <app-menu></app-menu>
<app-searchdiv></app-searchdiv>
<app-info></app-info>
  </nz-content>
  <nz-footer style="height: 300px" class="cont"></nz-footer>
</nz-layout>
