.cont{

  background: #29A4DD; /* Old browsers */
    background: -moz-linear-gradient(left, #29A4DD 0%, #2989d8 50%, #08c6f6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #29A4DD 0%,#2989d8 50%,#08c6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #29A4DD 0%,#2989d8 50%,#08c6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.row1{
  width: 100% ;height:150px;margin:auto;
  text-align: center;

  display:table;



}
.row1element{

  position: relative;
  display: inline-block;
  padding: 5px;
  margin-top: 5px;

}


a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
    height: 28px;
	color: #000;
	background-color: #FFF;
	border: 1px solid #000;
	padding-top: 12px;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.socialbtns .fa:hover {
	color: #FFF;
	background-color: #000;
	border: 1px solid #000;
}
