<div class="row1">

  <img src="../../assets/logowhite.png" style="margin-top:10px;" height="144" width="186"/>
  <br>
  <label class="row1element" style="font-size: 250%; font-family: 'Hiruko-BlackAlternate' , sans-serif; font-weight:normal;color:   rgb(219,213,39) ; ">What is Travolic?</label>
  <br>
  <label class="row1element" style=" margin-bottom:10px;font-size: 200%; font-family: 'cairo' , sans-serif; color:  white  ">Travolic is a free flight search site, that helps you search and compare flight prices on various airlines.</label>

</div>
