<div class="row1">

  <img src="../../assets/logowhite.png" height="144" width="186"/>
  <br>
  <label class="row1element" style="font-size: 30px; font-family: 'Cairo' , sans-serif; font-weight:normal;color:   rgb(219,213,39) ; ">WHAT IS TRAVOLIC ?</label>
  <br>
  <label class="row1element" style=" margin-bottom:10px;font-size: 25px; font-family: 'Cairo' , sans-serif; color:  white  ">Travolic is a free flight search site, that help you search and compare flight’s prices on various airlines</label>

</div>
