<div class="row1">

<i class="row1element" style="margin:20px;font-size: 70px; color:white;" class="anticon anticon-rocket"></i> <div></div>
  <label class="row1element" style="font-size: 30px; font-family: 'Cairo' , sans-serif; font-weight:normal;color: white ; opacity: 0.7">WHAT IS TRAVOLIC?</label>
  <br>
  <label class="row1element" style=" margin-bottom:10px;font-size: 25px; font-family: 'Cairo' , sans-serif; color: white  ">Travolic is a free flight search site, that help you search and compare flight’s prices on various airlines</label>

</div>
