<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div *ngIf="webVersion" class="divawy">

  <div class="row1" style="background-color: white; margin-top: 10px; border-radius: 10px">

    <div style="margin-bottom: 10px">
      <div *ngIf="showdiv">

  <span class="row1element">
  <label
    style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">From</label>
    <nz-select nzSize="small" style="top: 1px; font-size:15px ; width: 80px" nzAllowClear [nzFilter]="false"
               [(ngModel)]="from" [nzPlaceHolder]="''" (nzSearchChange)="changedfrom($event)" (click)="clickedfrom()"
               nzShowSearch>

      <nz-option style="font-size: 10px;  width:100px"
                 *ngFor="let option of Aairports"
                 [nzLabel]="option.Airport"
                 [nzValue]="option.IATA"
      >
           <ng-template #nzOptionTemplate>
           <label style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:bold;">{{option.IATA}}</label>
          <br>
   <label style="font-size: 16px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Airport}}</label>
          <br>
           <label style="font-size: 10px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Country}}</label>
        </ng-template>
      </nz-option>
    </nz-select>
  </span>
        <span class="row1element">
  <label style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">To</label>
  <nz-select class="row1element" nzAllowClear [nzFilter]="false" nzSize="small"
             style=" top: 1px;font-size:15px ; width: 80px;" [(ngModel)]="to" [nzPlaceHolder]="''"
             (nzSearchChange)="changedto($event)" (click)="clickedto()" nzShowSearch>
      <nz-option style="font-size: 10px; width:100px"
                 *ngFor="let option of ABirports"
                 [nzLabel]="option.Airport"
                 [nzValue]="option.IATA"
      >
        <ng-template #nzOptionTemplate>
           <label style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:bold;">{{option.IATA}}</label>
          <br>
   <label style="font-size: 16px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Airport}}</label>
          <br>
           <label style="font-size: 10px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Country}}</label>
        </ng-template>
      </nz-option>
    </nz-select>
  </span>
        <span class="row1element">
  <label style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color:#128de7 ;">Date</label>
    <nz-datepicker *ngIf="oneDate" nzSize="small" style=" left:5px; width: 100px " [nzPlaceHolder]="'Departure Date'"
                   [(ngModel)]="date"></nz-datepicker>
    <nz-rangepicker *ngIf="twoDates" nzSize="small" style=" left:5px; width: 250px "
                    [(ngModel)]="theTwodates"> </nz-rangepicker>
  </span>
        <span class="row1element">
  <label
    style="margin-right:5px;font-size:14px; top: 2px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">Class</label>

  <nz-select nzSize="small" style=" width: 80px;" [(ngModel)]="class" [nzPlaceHolder]="''" nzAllowClear>
    <nz-option [nzLabel]="'Economy'" [nzValue]="'economy'">
    </nz-option>
       <nz-option [nzLabel]="'Business'" [nzValue]="'business'">
    </nz-option>
       <nz-option [nzLabel]="'First'" [nzValue]="'first'">
    </nz-option>

  </nz-select>
      </span>
        <span class="row1element">
  <label class="row1element"
         style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">Travellers</label>
  <nz-select nzSize="small" [(ngModel)]="adultss" [nzPlaceHolder]="'Adults'" style="width:80px;">
        <nz-option
          *ngFor="let number of adults; let i = index"
          [nzValue]="i+1"
          [nzLabel]="number"
        >
      </nz-option>
      </nz-select>
          <!--<nz-input-number nzSize="large"  [(ngModel)]="adultss" [nzPlaceHolder]="'Adults'" [nzMin]="1" [nzMax]="9" [nzStep]="1" ></nz-input-number>-->
    <nz-select nzSize="small" [(ngModel)]="childrenn" [nzPlaceHolder]="'Children'" style="width:80px;">
          <nz-option
            *ngFor="let number of children; let i = index"
            [nzValue]="i+1"
            [nzLabel]="number"
          >
          </nz-option>
        </nz-select>
          <!--<nz-input-number nzSize="large" [(ngModel)]="childrenn" [nzPlaceHolder]="'Children'" [nzMin]="0" [nzMax]="9"-->
          <!--[nzStep]="1"></nz-input-number>-->
    <nz-select nzSize="small" [(ngModel)]="infantss" [nzPlaceHolder]="'Infants'" style="width:80px;">
          <nz-option
            *ngFor="let number of infants; let i = index"
            [nzValue]="i+1"
            [nzLabel]="number"
          >
          </nz-option>
        </nz-select>
        </span>

        <button style=" margin-top:20px;width: 100px ; height: 30px" nz-button [nzType]="'primary'" [nzSize]="'small'"
                (click)="search()">
          <label style=" font-size:14px;font-family: 'cairo' , sans-serif; "> SEARCH </label>
        </button>
        <nz-alert *ngIf="error" style="margin-top:10px" [nzType]="'error'" [nzMessage]="'Error'"
                  [nzDescription]="errmsg"
        ></nz-alert>
      </div>
      <div *ngIf="multi">
    <span class="row1element">
  <label
    style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">From</label>
    <nz-select nzSize="small" style="top: 1px; font-size:15px ; width: 200px" nzAllowClear [nzFilter]="false"
               [(ngModel)]="from" [nzPlaceHolder]="''" (nzSearchChange)="changedfrom($event)" (click)="clickedfrom()"
               nzShowSearch>

      <nz-option style="font-size: 10px;  width:100px"
                 *ngFor="let option of Aairports"
                 [nzLabel]="option.Airport"
                 [nzValue]="option.IATA"
      >
           <ng-template #nzOptionTemplate>
           <label style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:bold;">{{option.IATA}}</label>
          <br>
   <label style="font-size: 16px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Airport}}</label>
          <br>
           <label style="font-size: 10px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Country}}</label>
        </ng-template>
      </nz-option>
    </nz-select>
  </span>

        <span class="row1element">
  <label style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">To</label>
  <nz-select class="row1element" nzAllowClear [nzFilter]="false" nzSize="small"
             style=" top: 1px;font-size:15px ; width: 200px;" [(ngModel)]="to" [nzPlaceHolder]="''"
             (nzSearchChange)="changedto($event)" (click)="clickedto()" nzShowSearch>
      <nz-option style="font-size: 10px; width:100px"
                 *ngFor="let option of ABirports"
                 [nzLabel]="option.Airport"
                 [nzValue]="option.IATA"
      >
        <ng-template #nzOptionTemplate>
           <label style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:bold;">{{option.IATA}}</label>
          <br>
   <label style="font-size: 16px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Airport}}</label>
          <br>
           <label style="font-size: 10px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Country}}</label>
        </ng-template>
      </nz-option>
    </nz-select>
  </span>

        <span class="row1element">
  <label style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color:#128de7 ;">Date</label>
    <nz-datepicker nzSize="small" style=" left:5px; width: 250px " [nzPlaceHolder]="'Departure Date'"
                   [(ngModel)]="date"></nz-datepicker>

  </span>

        <br>
        <br>
        <div *ngIf="second">
    <span class="row1element">
  <label
    style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">From</label>
    <nz-select nzSize="small" style="top: 1px; font-size:15px ; width: 1px" nzAllowClear [nzFilter]="false"
               [(ngModel)]="from2" [nzPlaceHolder]="''" (nzSearchChange)="changedfrom($event)" (click)="clickedfrom()"
               nzShowSearch>
      <nz-option style="font-size: 10px;  width:100px"
                 *ngFor="let option of Aairports"
                 [nzLabel]="option.Airport"
                 [nzValue]="option.IATA"
      >
           <ng-template #nzOptionTemplate>
           <label style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:bold;">{{option.IATA}}</label>
          <br>
   <label style="font-size: 16px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Airport}}</label>
          <br>
           <label style="font-size: 10px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Country}}</label>
        </ng-template>
      </nz-option>
    </nz-select>
  </span>

          <span class="row1element">
  <label style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">To</label>
  <nz-select class="row1element" nzAllowClear [nzFilter]="false" nzSize="small"
             style=" top: 1px;font-size:15px ; width: 200px;" [(ngModel)]="to2" [nzPlaceHolder]="''"
             (nzSearchChange)="changedto($event)" (click)="clickedto()" nzShowSearch>
      <nz-option style="font-size: 10px; width:100px"
                 *ngFor="let option of ABirports"
                 [nzLabel]="option.Airport"
                 [nzValue]="option.IATA"
      >
        <ng-template #nzOptionTemplate>
           <label style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:bold;">{{option.IATA}}</label>
          <br>
   <label style="font-size: 16px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Airport}}</label>
          <br>
           <label style="font-size: 10px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Country}}</label>
        </ng-template>
      </nz-option>
    </nz-select>
  </span>

          <span class="row1element">
  <label style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color:#128de7 ;">Date</label>
    <nz-datepicker nzSize="small" style=" left:5px; width: 250px " [nzPlaceHolder]="'Departure Date'"
                   [(ngModel)]="date2"></nz-datepicker>

  </span>
        </div>
        <br>
        <div *ngIf="third">
    <span class="row1element">
  <label
    style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">From</label>
    <nz-select nzSize="small" style="top: 1px; font-size:15px ; width: 200px" nzAllowClear [nzFilter]="false"
               [(ngModel)]="from3" [nzPlaceHolder]="''" (nzSearchChange)="changedfrom($event)" (click)="clickedfrom()"
               nzShowSearch>

      <nz-option style="font-size: 10px;  width:100px"
                 *ngFor="let option of Aairports"
                 [nzLabel]="option.Airport"
                 [nzValue]="option.IATA"
      >
           <ng-template #nzOptionTemplate>
           <label style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:bold;">{{option.IATA}}</label>
          <br>
   <label style="font-size: 16px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Airport}}</label>
          <br>
           <label style="font-size: 10px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Country}}</label>
        </ng-template>
      </nz-option>
    </nz-select>
  </span>

          <span class="row1element">
  <label style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">To</label>
  <nz-select class="row1element" nzAllowClear [nzFilter]="false" nzSize="small"
             style=" top: 1px;font-size:15px ; width: 200px;" [(ngModel)]="to3" [nzPlaceHolder]="''"
             (nzSearchChange)="changedto($event)" (click)="clickedto()" nzShowSearch>
      <nz-option style="font-size: 10px; width:100px"
                 *ngFor="let option of ABirports"
                 [nzLabel]="option.Airport"
                 [nzValue]="option.IATA"
      >
        <ng-template #nzOptionTemplate>
           <label style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:bold;">{{option.IATA}}</label>
          <br>
   <label style="font-size: 16px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Airport}}</label>
          <br>
           <label style="font-size: 10px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Country}}</label>
        </ng-template>
      </nz-option>
    </nz-select>
  </span>

          <span class="row1element">
  <label style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color:#128de7 ;">Date</label>
    <nz-datepicker nzSize="small" style=" left:5px; width: 250px " [nzPlaceHolder]="'Departure Date'"
                   [(ngModel)]="date3"></nz-datepicker>

  </span>
        </div>
        <br>
        <div *ngIf="fourth">
    <span class="row1element">
  <label
    style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">From</label>
    <nz-select nzSize="small" style="top: 1px; font-size:15px ; width: 200px" nzAllowClear [nzFilter]="false"
               [(ngModel)]="from4" [nzPlaceHolder]="''" (nzSearchChange)="changedfrom($event)" (click)="clickedfrom()"
               nzShowSearch>

      <nz-option style="font-size: 10px;  width:100px"
                 *ngFor="let option of Aairports"
                 [nzLabel]="option.Airport"
                 [nzValue]="option.IATA"
      >
           <ng-template #nzOptionTemplate>
           <label style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:bold;">{{option.IATA}}</label>
          <br>
   <label style="font-size: 16px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Airport}}</label>
          <br>
           <label style="font-size: 10px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Country}}</label>
        </ng-template>
      </nz-option>
    </nz-select>
  </span>

          <span class="row1element">
  <label style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">To</label>
  <nz-select class="row1element" nzAllowClear [nzFilter]="false" nzSize="small"
             style=" top: 1px;font-size:15px ; width: 200px;" [(ngModel)]="to4" [nzPlaceHolder]="''"
             (nzSearchChange)="changedto($event)" (click)="clickedto()" nzShowSearch>
      <nz-option style="font-size: 10px; width:100px"
                 *ngFor="let option of ABirports"
                 [nzLabel]="option.Airport"
                 [nzValue]="option.IATA"
      >
        <ng-template #nzOptionTemplate>
           <label style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:bold;">{{option.IATA}}</label>
          <br>
   <label style="font-size: 16px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Airport}}</label>
          <br>
           <label style="font-size: 10px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Country}}</label>
        </ng-template>
      </nz-option>
    </nz-select>
  </span>

          <span class="row1element">
  <label style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color:#128de7 ;">Date</label>
    <nz-datepicker nzSize="small" style=" left:5px; width: 250px " [nzPlaceHolder]="'Departure Date'"
                   [(ngModel)]="date4"></nz-datepicker>

  </span>
        </div>
        <br>
        <div *ngIf="fifth">
    <span class="row1element">
  <label
    style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">From</label>
    <nz-select nzSize="small" style="top: 1px; font-size:15px ; width: 200px" nzAllowClear [nzFilter]="false"
               [(ngModel)]="from5" [nzPlaceHolder]="''" (nzSearchChange)="changedfrom($event)" (click)="clickedfrom()"
               nzShowSearch>

      <nz-option style="font-size: 10px;  width:100px"
                 *ngFor="let option of Aairports"
                 [nzLabel]="option.Airport"
                 [nzValue]="option.IATA"
      >
           <ng-template #nzOptionTemplate>
           <label style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:bold;">{{option.IATA}}</label>
          <br>
   <label style="font-size: 16px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Airport}}</label>
          <br>
           <label style="font-size: 10px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Country}}</label>
        </ng-template>
      </nz-option>
    </nz-select>
  </span>

          <span class="row1element">
  <label style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color: #128de7 ;">To</label>
  <nz-select class="row1element" nzAllowClear [nzFilter]="false" nzSize="small"
             style=" top: 1px;font-size:15px ; width: 200px;" [(ngModel)]="to5" [nzPlaceHolder]="''"
             (nzSearchChange)="changedto($event)" (click)="clickedto()" nzShowSearch>
      <nz-option style="font-size: 10px; width:100px"
                 *ngFor="let option of ABirports"
                 [nzLabel]="option.Airport"
                 [nzValue]="option.IATA"
      >
        <ng-template #nzOptionTemplate>
           <label style="font-size:14px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:bold;">{{option.IATA}}</label>
          <br>
   <label style="font-size: 16px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Airport}}</label>
          <br>
           <label style="font-size: 10px;  margin-right:5px; font-family: 'Cairo' , sans-serif; font-weight:normal;">{{option.Country}}</label>
        </ng-template>
      </nz-option>
    </nz-select>
  </span>

          <span class="row1element">
  <label style="font-size:14px;  font-family: 'Cairo' , sans-serif; font-weight:normal;color:#128de7 ;">Date</label>
    <nz-datepicker nzSize="small" style=" left:5px; width: 250px " [nzPlaceHolder]="'Departure Date'"
                   [(ngModel)]="date5"></nz-datepicker>

  </span>
        </div>
        <button style="height: 50px; width: 50px;" nz-button [nzType]="'primary'" [nzShape]="'circle'" (click)="plus()">
          <i class="anticon anticon-plus"></i>
        </button>
        <button style="height: 50px; width: 50px;" nz-button [nzType]="'primary'" [nzShape]="'circle'"
                (click)="minus()">
          <i class="anticon anticon-minus"></i>

        </button>
        <button style=" margin-top:20px;width: 80px ; height: 30px" nz-button [nzType]="'primary'" [nzSize]="'small'"
                (click)="searchMulti()">
          <label style=" font-size:14px;font-family: 'cairo' , sans-serif; "> SEARCH </label>
        </button>


      </div>
    </div>
  </div>

