<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
<html>
<body>
<div class="start-screen">


  <div class="plane">
    <div class="wings">
      <div class="fan">
        <div class="fan-wings">
          <div class="fan-a"></div>
          <div class="fan-b"></div>
          <div class="fan-c"></div>
          <div class="fan-d"></div>
        </div>
      </div>
      <div class="cat">
        <div class="legs"></div>
      </div>
    </div>
    <div class="wheel">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>



  <div class="loading">
    <div class="loading__element el1">G</div>
    <div class="loading__element el2">E</div>
    <div class="loading__element el3">T</div>
    <div class="loading__element el4">T</div>
    <div class="loading__element el5">I</div>
    <div class="loading__element el6">N</div>
    <div class="loading__element el7">G</div>
  </div>
  <div class="loading">
    <div class="loading__element el1">C</div>
    <div class="loading__element el2">H</div>
    <div class="loading__element el3">E</div>
    <div class="loading__element el4">A</div>
    <div class="loading__element el5">P</div>
    <div class="loading__element el6">E</div>
    <div class="loading__element el7">ST</div>

  </div>
  <div class="loading">
    <div class="loading__element el1">F</div>
    <div class="loading__element el2">L</div>
    <div class="loading__element el3">I</div>
    <div class="loading__element el4">G</div>
    <div class="loading__element el5">H</div>
    <div class="loading__element el6">T</div>
    <div class="loading__element el7">S</div>

  </div>

</div>
</body>
</html>
